.dropzone {
  width: 100%;
  height: 200px;
  border: 2px dashed grey;
  margin: 0 auto;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropzone:hover {
  background-color: #87abf9;
}

.acordion-style{
  border: none;
}

.custom-modal {
  width: 560px;
  height: fit-content;
  /* top: 50%; */
  /* left: 50%; */
  transform: translate(0%, 0%);
  padding: 40px;
  border-radius: 20px;
  gap: 25px !important;
  text-align: center;
}

.modal-title {
  font-size: 24px;
  color: #0A1B48;
  text-align: left;
}

.modal-subtitle {
  font-family: 'TT Hoves Pro Trial';
  font-size: 18px;
  text-align: left;
  color: #969EAF;
}

.custom-select {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white !important;
  padding: 10px 15px;
  text-align: center;
  width: 440px; /* Ajusta el ancho según tus necesidades */
}

.select-icon {
  font-size: 20px;
  vertical-align: middle;
}

.modal-button {
  width: 220px;
  height: 48px;
  padding: 12px 10px 12px 10px;
  border-radius: 8px;
  gap: 10px;

}

.modal-button.primary {
  background-color: #0A1B48 !important;
  color: white;
}

.icon-excel{
  color: #008000;
  font-size: 100px;
  padding-bottom: 20px;
}

.icon-excel-download {
  color: #008000;
  font-size: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.custom-field {
  margin-left: 5px;
  margin-right: 5px;
}

.disabled-field {
  border-color: gray;
}

.custom-header {
  font-size: 20px;
  font-weight: bolder;
}

.custom-label {
  font-size: 12px;
  margin-left: 10px;
  text-align: left;
  display: flex;
  margin-bottom: 5px;
}

.acordion-style {
  padding: 1rem;
  margin-bottom: 10px;
}

.custom-row {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.disabled-button {
  color: gray !important;
}

.dark-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Oscuro con 70% de opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000; /* Asegúrate de que esté por encima de otros elementos en la página */
}
.custom-textarea{
  resize: none
}

.full-width{
  width: 100%;
}

.semibold{
  font-weight: 600;
}

.bold{
  font-weight: 700;
}

.min-h-180{
  min-height: 180px;
}

.marginb-3{
  margin-bottom: 12px;
}

.modal-title.semibold {
  font-weight: 600;
}

.min-h-180 {
  min-height: 180px;
}

.marginb-3 {
  margin-bottom: 12px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-2 {
  padding: 8px;
}

.w-200px {
  width: 200px;
}